<div class="container">
<h1>Log in</h1>

<p><%= flash[:error] %></p>
<br>
<%= form_for :user do |f| %>                                 
    <%= f.label :email %>       
    <%= f.email_field :email %> 
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Log In" %>
<% end %>
<br>
<br>
<%= link_to 'Sign in with Google!', '/auth/google_oauth2', method: :post %>
<br>
<br>
<%= link_to "Sign Up", signup_path  %>

</div>