<div class="container">
<%= form_for @dog do |f| %>
    <%= f.label :dog_name %>
    <%= f.text_field :dog_name %>
    <br>
    <br>
    <%= f.label :mood %>
    <%= f.text_field :mood %>
    <br>
    <br>
    <%= f.label :weight %>
    <%= f.number_field :weight%>
    <br>
    <br>
    <%= f.label :breed, "Choose a breed" %>
    <%= f.collection_select :breed_id, Breed.all, :id, :breed_name, prompt: true, :selected => @dog.breed_id %>
    <br>
    <br>
    <%= f.submit %>
    <br>
<% end %>
</div>